.power-services-container {
    background: #d1ecef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.power-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.power-right-side {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.power-side h2 {
    color: #000F38;
    font-size: 44px;
    margin-bottom: 2rem;

}
.power-side p {
    color: #100e0c;
    font-size: 16px;
    margin-bottom: 1rem;
}
.power-side h4 {
    font-size: 12px;
    margin-bottom: 1rem;
}
.power-side .check-icon-desc {
    display: flex;
    align-items: center;

}
.power-side .check-icon-desc h4 {
    margin-left: 10px;
    color: #000F38;
}
.power-side .check-icon-desc .check-icon {
    color: red;
}

.power-right-side .power-right-side-card {
    margin: 1rem;
    background: #fff;
    flex: 0 1 calc(50% - 2rem);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.power-right-side .power-right-circle {
    width: 100px; /* Adjust the width of the circle */
    height: 100px; /* Adjust the height of the circle */
    border-radius: 50%; /* Create a circle by setting border-radius to 50% */
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.power-right-side .power-icon {
    width: 4rem;
    height: 4rem;
    color: #fff;
}
.power-right-side .power-card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.bg-red {
    background: orangered;
}
.bg-blue {
    background: #626feb;
}
.bg-green {
    background: #14c953;
}
.bg-purple {
    background: #e722dd;
}