.title {
    margin: 70px 0 30px;
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.title h2 {
    font-size: 32px;
    color: #000F38;
}